<!DOCTYPE html>
<html lang="en">
<head>
    <meta charsetUTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Welcome to Our Express App</title>
    <link href="./output.css" rel="stylesheet">
</head>
<body>
    <header>
        <h2>Halooo</h2>
        <h1 class="bg-blue-500">Welcome to Our Express App="</h1>
    </header>
    <main>
        <p>This is the main page of our application.</p>
    </main>
    <footer>
        <p>&copy; 2023 Your Company Name</p>
        <h2>Haloooo</h2>
    </footer>
</body>
</html>